<div class="row" id="headerRow">
  <div class="page-header text-center">
    <h1 class="ui header"><%= title %></h1>
    <div class="sub header">Make Selection to See the Network</div>
  </div>
</div>
